#Projects_Background{
    background-size: cover;
    background-position: 10%;
    background-image: url('../../assets/BackProjects.jpg');
}
#Projects_h2{
    z-index: +500;
    margin-left: 13.2%;
    border-bottom: 2PX solid rgb(181, 178, 178);
    height: 40px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    margin-top: 14.0%;
    font-size: 30px;
    width: 450px;
}

.Projects_Links{
    display: none;
}

#Projects_DivContentFlex{
    position: relative;
    left: 10%;
    flex-wrap: wrap;
    display: flex;
    width: 1300px;
    height: 650px;
}

@media only screen and (max-width: 575px){
    #Projects_h2{
        margin-left: 4%;
        width: 80%;
    }
    #Projects_DivContentFlex{
        position: relative;
        left: 0%;
        display: flex;
        width: 95%;
        height: 1900px;
    }
    #Projects_Background{
     height: 2050Px;
    }

    #Project_FlexLinks{
        position: absolute;
        width: 100%;
        justify-content: space-around;
        display: flex;

    }
    .Projects_Links{
        margin-top: 20px;
        display: block;
        color: white;
    }
}

@media only screen and (min-width:1300px) and (max-width: 1400px){
    #Projects_DivContentFlex{
        position: relative;
        left: 0%;
        display: flex;
        width: 100%;
    }
}

@media only screen and (min-width:1400px) and (max-width: 1700px){
    #Projects_DivContentFlex{
        position: relative;
        left: 0%;
        display: flex;
        width: 98%;
    }
}
