#Layout_Background{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    
}

#Button_Mobile{
    display: none;
}

#Layout_MyPhoto{
    background-image: url('../../assets/foto-mia.jpg');
    width: 200px;
    height: 200px;
    margin-left: 70px;
    margin-top: 50px;
    border-radius: 50%;
}
#Layout_h1{
    color: white;
    font-size: 25px;
    margin-left:75px;
}

#Layout_h2{
    color: rgb(114, 114, 114);
    font-size: 15px;
    margin-left:75px;
}

#Layout_SectionsContent{
    display: FLEX;
    height: 200px;
    flex-wrap: wrap;
    width: 200px;
    margin-left:21%;
}

.Layout_Links{
    margin-top: 35px;
    font-size: 18px;
    width: 200px;
    color: white;
    text-decoration: none;
}
.Layout_Links:hover{
    color: rgb(243, 115, 115);
}

#Layout_SocialMedia{
    margin-left: 13%;
    margin-top: 300px;
    width: 400px;
    height: 40px;
}

#Layout_SocialMedia a{
    margin-left: 40px;
    font-size: 20px;
    color: white;
}
#Layout_SocialMedia a:hover{
    color: rgb(235, 68, 68);
}

@media only screen and (max-width: 575px){

    #Button_Mobile{
        display: block;
        background-color: rgba(240, 248, 255, 0);
        border: 0;
        margin-top: 30px;
        margin-bottom: 0;
        margin-left: 70%;
    }
    #Button_XIcon{
        color: white;
        font-size: 20px;
    }

    #Layout_SocialMedia{
        display: none;
    }
}